.item-card {
    margin-bottom: 3em;
    height: 312px;
}

.shelf-btn {
    margin-right: 5px;
}

#main-h1 {
    text-decoration: underline;
    padding-bottom: 3%;
}

.centering-div {
    text-align: center;
}